*.pyc
raw_videos/
raw_frames/
heatmaps/
op_processing/
models/
subclip_videos/
*temp-audio.m4a*
.venv
logs/
images/
.vscode/
web/django_project/fyp/static/fyp/img/
web/django_project/db.sqlite3
*1.png*
